/* global.css */

/* 1. 파일 최상단에서 전체 Layer 순서를 정의합니다. */
@layer tw-theme, theme, reset, components, utilities, tw-utilities;

/* 2. Tailwind와 Vapor UI 스타일을 불러옵니다. */
@import 'tailwindcss/theme.css' layer(tw-theme);
@import 'tailwindcss/utilities.css' layer(tw-utilities);

@import '@vapor-ui/core/styles.css';
@import '@vapor-ui/core/tailwind.css';

@font-face {
  font-family: AppleMyungjo;
  src: local('Apple SD Gothic Neo'), local('Nanum Gothic');
}

@font-face {
  font-family: sans-serif;
  src: local('Apple SD Gothic Neo'), local('Nanum Gothic');
}

@font-face {
  font-family: 'Pretndard';
  src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');
}
/* iPhone X/11/12/13 (375x812) 최적화 스타일 */
* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100dvh;
  display: flex;
  justify-content: center;
}

#root {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 100dvh;
  overflow-x: hidden;
  font-family: 'Pretendard';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background: rgba(247, 247, 247, 1);
}
